{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == null
      assign ratio = 1
    endif
  -%}
  
      <!-- Popup Container -->
    <div class="popup-container" id="popup-{{ card_product.id }}">
      <div class="popup-container-content">
        <div class="image-container">
          <img class="popup-container-image" src="{{ card_product.featured_media | img_url: 'large' }}">
        </div>
        <div class="detail-container">
          <button class="popup-container-close button">Close</button>
          <p class="popup-container-title">{{ card_product.title | escape }}</p>
          <p class="popup-container-price">
            {% render 'price', product: card_product, show_compare_at_price: true %}
          </p>
           
        </div>     
      </div>
    </div>
  <div class="card-wrapper product-card-wrapper underline-links-hover">
    <div
      class="
        card card--{{ settings.card_style }}
        {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
        {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
        {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
        {% if extend_height %} card--extend-height{% endif %}
        {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
        {% if horizontal_class %} card--horizontal{% endif %}
      "
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div
        class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}"
        style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >
        {%- if card_product.featured_media -%}
          <div class="card__media{% if image_shape and image_shape != 'default' %} shape--{{ image_shape }} color-{{ settings.card_color_scheme }} gradient{% endif %}">
            <div class="media media--transparent media--hover-effect">
          
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
           <a
              href="{{ card_product.url }}"
              id="CardLink-{{ section_id }}-{{ card_product.id }}"
              class="full-unstyled-link"
              aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
            > 
              <img
                srcset="
                  {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
                "
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}
                  loading="lazy"
                {% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
         
           </a>
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}
            </div>
          </div>
        {%- endif -%}
        <div class="product-card-content">
          <div class="card__body{% if card_product.featured_media or settings.card_style == 'standard' %} ratio-content{% endif %}">
            <div class="card__content">
                        <div class="newbadges">
        
                  {% if card_product.tags contains settings.tag %}
                  
                  <p>{{settings.tag}}</p> 
                  {% endif %}
                </div>
                 <h3
            class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"
            {% if card_product.featured_media or settings.card_style == 'card' %}
              id="title-{{ section_id }}-{{ card_product.id }}"
            {% endif %}
          >
    <a
              href="{{ card_product.url }}"
              id="CardLink-{{ section_id }}-{{ card_product.id }}"
              class="full-unstyled-link"
              aria-labelledby="CardLink-{{ section_id }}-{{ card_product.id }} Badge-{{ section_id }}-{{ card_product.id }}"
            > 

        <p> {{ card_product.title | escape }}</p>
    </a>

       


      
                    </h3>
              <div class="product-price">
          
                {% render 'price', product: card_product, show_compare_at_price: true %}
              </div>
              <button class="popup-open button" data-id="{{ card_product.id }}">Quick View</button>
              {% if show_vendor %}
                <div class="product-vendor">{{ card_product.vendor | escape }}</div>
              {% endif %}
              {% if show_rating %}
                <div class="product-rating">
                  {% render 'component-rating', rating: card_product.rating %}
                </div>
              {% endif %}
            </div>
         
          </div>
        </div>
      </div>
    </div>

  </div>


    <!-- <img class="icon sizechart-button" src="https://t3.ftcdn.net/jpg/04/37/51/90/360_F_437519066_OLrSfrnBk5hioGeje96IZ0ejr8Xrozw3.jpg" />
      <img class= "sizechart-img" src="https://cdn.shopify.com/s/files/1/0130/8321/3883/files/Sizing_Chart.png?v=1652841021"> -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const modalTriggerButtons = document.querySelectorAll('.popup-open');
      const modalCloseButtons = document.querySelectorAll('.popup-container-close');

      modalTriggerButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          const modalId = button.getAttribute('data-id');
          const modal = document.getElementById(`popup-${modalId}`);

          if (modal) {
            modal.style.display = 'flex';
          }
        });
      });

      modalCloseButtons.forEach(function (button) {
        button.addEventListener('click', function () {
          const modal = button.closest('.popup-container');

          if (modal) {
            modal.style.display = 'none';
          }
        });
      });
    });
  </script>
  <style>
    .popup-container {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }
    .popup-container-content {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      max-width: 80%;
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .popup-container-image {
      max-width: 100%;
      height: auto;
    }
    .popup-container-close {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    .popup-container-title {
      font-size: 18px;
      font-weight: bold;
      margin-top: 10px;
    }
    .popup-container-price {
      font-size: 16px;
      margin-top: 10px;
    }
    .popup-container-sizechart {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 4px;
      font-size: 14px;
      cursor: pointer;
      margin-top: 10px;
    }
    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      align-items: center;
      justify-content: center;
      z-index: 9999;
    }
    .modal-content {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      max-width: 80%;
    }
    .modal-open {
      display: flex;
    }
     .product-card-content{
    height: 100px;
    position: absolute;
    bottom: 10px;
  }
    .card__media{
      height:62%;
    }
    
element.style {
    --ratio-percent: 100.0%;
}
.card--card.gradient, .card__inner.gradient {
    transform: perspective(0);
}
.card--card, .card--standard .card__inner {
    position: relative;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: var(--border-width) solid rgba(var(--color-foreground),var(--border-opacity));
}
.card__inner {
    width: 100%;
}
.ratio {
    display: flex;
    position: relative;
    align-items: stretch;
}
.gradient {
    background: white;
}
    
  </style>
{% endif %}  